<div class="pow"></div>

<div class="comic_content">
	<div class="page1">
		<div class="intro">
			<h1>Issue 1</h1>
			<div class="me">
				
			</div>
		</div>
	</div>

	<div class="about">
		<h1>My Story</h1>
	</div>

	<div class="page2">
		<div class="box1">
			<div class="box1_text">
				<p>Blah</p>
			</div>
		</div>
		<div class="box2">
			<div class="box2_text">
				<p>Blah</p>
			</div>
		</div>
		<div class="box3">
			<div class="box3_text">
				<p>Blah</p>
			</div>			
		</div>
<!-- 		<div class="arrow1" >
			<a href="#">Next..</a>
		</div> -->
	</div>

	<div class="projects">
		<h1>Projects</h1>
	</div>

	<div class="page3">
		<a href="https://cryptic-depths-8215.herokuapp.com/" target="_blank">
			<div class="box4">
			<div class="box4_text">
				<p>Blah</p>
			</div>

		</div>
		</a>

		<a href="https://mighty-castle-2789.herokuapp.com/" target="_blank">
			<div class="box5">
			<div class="box5_text">
				<p>Blah</p>
			</div>
		</div>
		</a>
		<a href="http://immense-headland-7953.herokuapp.com/static/index" target="_blank">
			<div class="box6">
			<div class="box6_text">
				<p>Blah</p>
			</div>
		</div>
		</a>	
	</div>
	<div class="page4">
		<div class="box7">
			<div class="box7_text">
				<p>Blah</p>
			</div>
		</div>
	</div>
</div>

<div class="arrow animated bounce">

</div>