<div class="comic_content">
	<div class="page1">
		<div class="intro">
			<h1>Issue 1</h1>
			<h2>Tobias Hale The Ruby on Rails developer</h2>
			<div class="me">
				
			</div>
		</div>
	</div>

	<div class="page2">
		<div class="box1">
			<div class="box1_text">
				<p>Blah</p>
			</div>
		</div>
		<div class="box2">
			<div class="box2_text">
				<p>Blah</p>
			</div>
		</div>
		<div class="box3">
			<div class="box3_text">
				<p>Blah</p>
			</div>			
		</div>
<!-- 		<div class="arrow1" >
			<a href="#">Next..</a>
		</div> -->
	</div>

	<div class="page3">
		<div class="box4">
			<div class="box4_text">
				<p>Blah</p>
			</div>
		</div>
		<div class="box5">
			<div class="box5_text">
				<p>Blah</p>
			</div>
		</div>
		<div class="box6">
			<div class="box6_text">
				<p>Blah</p>
			</div>
		</div>
		<div class="box7">
			<div class="box7_text">
				<p>Blah</p>
			</div>
		</div>
	</div>
</div>

<div class="arrow animated bounce">

</div>